<!-- search/deckInfo.hbs -->
<div class="row pattern-ugin avoidSticked" style="min-height:85vh">
    <div class="container-fluid">
        <div class="row pattern-dark">
            <div class="col-xs-12">
                <h2>{{deckOrg.title}}</h2>
            </div>
        </div>
        <!-- ============== BIG DIVIDER ============== -->
        <div class="Divider">
            <hr class="Divider-rule">
        </div>
        <!-- ============== /BIG DIVIDER ============== -->
        <!-- ===== START DECK CARDS ===== -->
        <div class="container mw750">
            <div class="col-xs-12" style="background-color:greenyellow">
                <p>Author: {{deckOrg.author}}</p>
                <p>{{deckOrg.description}}</p>
                <p>Main deck</p>
            </div>
            {{#if deckOrg.mainCards.lands}}
            <div class="col-xs-12"style="background-color:pink"><p>Lands</p></div>
            {{#each deckOrg.mainCards.lands}}
            <div class="col-xs-12 col-sm-6"style="background-color:pink">
                <p style="display:inline;"><strong>{{count}}&nbsp;</strong>{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            </div>
            {{/each}}
            {{/if}}
            {{#if deckOrg.mainCards.artifacts}}
            <div class="col-xs-12"style="background-color:orange"><p>Artifacts</p></div>
            {{#each deckOrg.mainCards.artifacts}}
            <div class="col-xs-12 col-sm-6"style="background-color:orange">
                <p style="display:inline;"><strong>{{count}}&nbsp;</strong>{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            </div>
            {{/each}}
            {{/if}}
            {{#if deckOrg.mainCards.enchantments}}
            <div class="col-xs-12"><p>Enchantments</p></div>
            {{#each deckOrg.mainCards.enchantments}}
            <div class="col-xs-12 col-sm-6"style="background-color:red">
                <p style="display:inline;"><strong>{{count}}&nbsp;</strong>{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            </div>
            {{/each}}
            {{/if}}
            {{#if deckOrg.mainCards.instants}}
            <div class="col-xs-12"><p>Instants</p></div>
            {{#each deckOrg.mainCards.instants}}
            <div class="col-xs-12 col-sm-6"style="background-color:gold">
                <p style="display:inline;"><strong>{{count}}&nbsp;</strong>{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            </div>
            {{/each}}
            {{/if}}
            {{#if deckOrg.mainCards.sorceries}}
            <div class="col-xs-12"><p>Sorceries</p></div>
            {{#each deckOrg.mainCards.sorceries}}
            <div class="col-xs-12 col-sm-6"style="background-color:blue">
                <p style="display:inline;"><strong>{{count}}&nbsp;</strong>{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            </div>
            {{/each}}
            {{/if}}

            
            {{#if deckOrg.mainCards.planeswalkers}}
            <div class="col-xs-12"><p>Planeswalkers</p></div>
            {{#each deckOrg.mainCards.planeswalkers}}
            <div class="col-xs-12 col-sm-6"style="background-color:brown">
                <p style="display:inline;"><strong>{{count}}&nbsp;</strong>{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            </div>
            {{/each}}
            {{/if}}
            {{#if deckOrg.mainCards.creatures}}
            <div class="col-xs-12"><p>Creatures</p></div>
            {{#each deckOrg.mainCards.creatures}}
            <div class="col-xs-12 col-sm-6"style="background-color:purple">
                <p style="display:inline;"><strong>{{count}}&nbsp;</strong>{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            </div>
            {{/each}}
            {{/if}}

            
            {{#if deckOrg.mainCards.others}}
            <div class="col-xs-12"><p>Others</p></div>
            {{#each deckOrg.mainCards.others}}
            <div class="col-xs-12 col-sm-6"style="background-color:green">
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
            </div>
            {{/each}}
            {{/if}}

            <div class="col-xs-12"><p>Side deck</p></div>
                {{#if deckOrg.sideboard.lands}}
                <p>Lands</p>
                {{#each deckOrg.sideboard.lands}}
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
                {{/each}}
                {{/if}}
                {{#if deckOrg.sideboard.artifacts}}
                <p>Artifacts</p>
                {{#each deckOrg.sideboard.artifacts}}
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
                {{/each}}
                {{/if}}
                {{#if deckOrg.sideboard.enchantments}}
                <p>Enchantments</p>
                {{#each deckOrg.sideboard.enchantments}}
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
                {{/each}}
                {{/if}}
                {{#if deckOrg.sideboard.instants}}
                <p>Instants</p>
                {{#each deckOrg.sideboard.instants}}
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
                {{/each}}
                {{/if}}
                {{#if deckOrg.sideboard.sorceries}}
                <p>Sorceries</p>
                {{#each deckOrg.sideboard.sorceries}}
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
                {{/each}}
                {{/if}}
                {{#if deckOrg.sideboard.planeswalkers}}
                <p>Planeswalkers</p>
                {{#each deckOrg.sideboard.planeswalkers}}
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
                {{/each}}
                {{/if}}
                {{#if deckOrg.sideboard.creatures}}
                <p>Creatures</p>
                {{#each deckOrg.sideboard.creatures}}
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
                {{/each}}
                {{/if}}
                {{#if deckOrg.sideboard.others}}
                <p>Others</p>
                {{#each deckOrg.sideboard.others}}
                <p>{{count}} X {{card.name}}<div class="mana-cost">{{card.mana_cost}}</div></p>
                {{/each}}
                {{/if}}
        </div>
        <!-- ===== // END DECK CARDS ===== -->
        <!-- ===== START BUTTONS AND LIKES ===== -->
        <div class="container">
            <!-- INNER DIVIDER -->
            <div class="col-xs-12 items-container bottom-wrapper">
                <p>&nbsp;</p>
            </div>
            <!-- /INNER DIVIDER -->
            <form action='/deckInfo/like' method='GET'>
            <p>Likes: {{likes}}</p><button type='submit'>Like</button>
            </form>
            <form action='/deckInfo/dislike' method='GET'>
            <p>Dislikes: {{dislikes}}</p><button type='submit'>Dislike</button>
            </form>
            {{#if isUserAuthor}}
            <form action='/myDecks/modify/{{deckOrg.id}}' method='POST'>
            <button type='submit'>Modify deck</button>
            </form>
            <form action="/myDecks/delete/{{_id}}" method="POST"><button>Delete deck</button></form>   
            {{else}}
            <form action='/myDecks/copy/{{deckOrg.id}}' method='GET'>
            <button type='submit'>Copy deck</button>
            </form>
            {{/if}}
        </div>
        <!-- ===== END BUTTONS AND LIKES ===== -->
        <!-- ===== START COMMENTS ===== -->
        <div class="container text-center mw750">
            <!-- INNER DIVIDER -->
            <div class="col-xs-12 items-container bottom-wrapper">
                <p>&nbsp;</p>
            </div>
            <!-- /INNER DIVIDER -->
            <h2>Comments</h2>
            <form id="form" class="contact-form" action='/deckInfo/reply' method='POST'>
                <textarea name="reply" placeholder="What are your thoughts?" rows="4" cols=""></textarea></br>
                <a href="javascript:$('#form').submit();" class="button-game btn-new-deck">
                    <span class="button-game-bg-left"></span>
                    <span class="button-game-bg-mid">
                    <span>Comment</span>
                    </span> 
                    <span class="button-game-bg-right"></span>
                </a>
            </form>
        </div>
        <div class="container mw750">
            <!-- INNER DIVIDER -->
            <div class="col-xs-12 items-container bottom-wrapper" style="margin-bottom:25px">
                <p>&nbsp;</p>
            </div>
            <!-- /INNER DIVIDER -->
            {{#each deckOrg.replies}}
                <p><span class="innerheader">{{author}}</span></p>
                <p class="comment">{{message}}</p>
            <hr class="solid">
            {{/each}}
        </div>
        <hr class="invisible">
        <!-- ===== END COMMENTS ===== -->
    </div>
</div>